[Desktop Entry]
Name=RQ100_OLED_TextStats
Exec=/bin/bash -c '/bin/python /home/pi/23-0305-1900-Jwc/23-0616-1300-Adafruit-Oled-128x64/23-0615-1500-Adafruit-Oled-128x64-Test-TextStats-23-0615-1440-AAA-TYJ-FINAL.py > /home/pi/RQ100_OLED_TextStats.log 2>&1'
